<mat-toolbar class="top-toolbar">
  <mat-toolbar-row>
    Mensajes directos con&nbsp;<strong *ngIf="remoteUser">{{remoteUser}}</strong>
    <span class="app-toolbar-filler"></span>
    <div class="test"></div>
    <button mat-button (click)="call()">
      <mat-icon>call</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list class="message-list">
  <mat-list-item *ngFor="let message of messages">
    <mat-icon mat-list-icon *ngIf="message.type=='text'">face</mat-icon>
    <mat-icon mat-list-icon *ngIf="message.type=='notify'">notifications</mat-icon>
    <p mat-line><strong *ngIf="message.type=='text'">{{message.name}}: </strong>{{message.text}}</p>
  </mat-list-item>
</mat-list>
<div class="new-message">
  <mat-form-field class="input-message">
    <input matInput placeholder="Mensaje" (keydown.enter)="sendMessage(message.value); message.value=''" #message>
  </mat-form-field>
  <button mat-button (click)="sendMessage(message.value); message.value=''"><mat-icon mat-list-icon>send</mat-icon></button>
</div>
