<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <span>WebSocket-WebRTC-Chat</span>
    <span class="app-toolbar-filler"></span>
    <span *ngIf="userService.isLoggedIn">{{userService.currentUser.name}}</span>
    <span class="app-toolbar-filler"></span>
    <button *ngIf="userService.isLoggedIn" mat-button (click)='userService.logout()'>Salir</button>
    <!--<mat-slide-toggle color="accent" [(ngModel)]="isDev">Dev Features</mat-slide-toggle>-->
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="app-content">
  <mat-sidenav mode="side" [opened]="userService.isLoggedIn">
    <mat-nav-list>
      <h3 matSubheader>General</h3>
      <a mat-list-item routerLinkActive="sidenav-item-selected" href="/chat" [routerLink]="['/chat']">
        <mat-icon mat-list-icon>forum</mat-icon>
        <span mat-line>Chat Room</span>
      </a>
      <a mat-list-item routerLinkActive="sidenav-item-selected" href="/canvas" [routerLink]="['/canvas']">
        <mat-icon mat-list-icon>brush</mat-icon>
        <span mat-line>Lienzo compartido</span>
      </a>
      <mat-divider></mat-divider>
      <h3 matSubheader>Usuarios Conectados</h3>
      <a *ngFor="let user of userService.allUsers" mat-list-item routerLinkActive="sidenav-item-selected" [routerLink]="['/p2p-chat', user.name]">
        <mat-icon mat-list-icon>face</mat-icon>
        <span mat-line>{{user.name}}</span>
      </a>
      <mat-divider></mat-divider>
      <h3 matSubheader>About</h3>
      <a mat-list-item routerLinkActive="sidenav-item-selected" href="/about" [routerLink]="['/about']">
        <mat-icon mat-list-icon>help</mat-icon>
        <span mat-line>Information</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
