.message-list {
    margin-bottom: 4rem;
    background: #fff;
}

.new-message {
    background: #fff;
    height: 4rem;
    position: fixed;
    bottom: 0;
    width: calc(100% - 32px - 214px);
    padding: 0 1rem;
}

.new-message .input-message {
    width: calc(100% - 72px);
    margin-right: 1em;
}