<div class="login-form-container flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="middle">
  <mat-card flex="flex">
    <mat-card-title>Identifícate</mat-card-title>
    <mat-card-content>
      <form name="login-form" (keydown.enter)="login(user.value, pass.value)">
        <mat-form-field class="full-width">
          <input matInput placeholder="Usuario" #user>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Contraseña" #pass>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="login(user.value, pass.value)">Entrar</button>
      <button mat-button (click)="register(user.value, pass.value)">Registrarse</button>
      <button mat-button [matMenuTriggerFor]="sampleUsersMenu"><mat-icon>more_horiz</mat-icon></button>
      <mat-menu #sampleUsersMenu>
        <button *ngFor="let user of sampleUsers" mat-menu-item (tap)="login(user, user)">{{user}}</button>
      </mat-menu>

      
    </mat-card-actions>
  </mat-card>
</div>
